.top-3 {
    margin-top: 3em;
}

.top-2 {
    margin-top: 2em;
}

.top-1 {
    margin-top: 1em;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
    background: #2c539e; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c539e 0%, #2c539e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c539e), color-stop(100%,#2c539e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c539e 0%,#2c539e 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c539e 0%,#2c539e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=0 ); /* IE6-9 */

    height: 100%;

    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
}

ul {
    list-style-type: none;
}

a, a:focus {
    color: #ff7000;
    text-decoration: none;
    transition: color 0.25s;
}

a:hover {
    color: #e35d20;
    text-decoration: underline;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}

.white-text {
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #2c5089;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

.from-me {
    position:relative;
    padding:10px 20px;
    color:white;
    background: #0b7bd4;
    border-radius:10px;
    float: right;


&:before {
     content:"";
     position:absolute;
     z-index:-1;
     bottom:-2px;
     right:-7px;
     height:20px;
     border-right:20px solid #0b7bd4;
     border-bottom-left-radius: 16px 14px;
     -webkit-transform:translate(0, -2px);
 }

&:after {
     content:"";
     position:absolute;
     z-index:1;
     bottom:-2px;
     right:-56px;
     width:26px;
     height:20px;
     background:white;
     border-bottom-left-radius: 10px;
     -webkit-transform:translate(-30px, -2px);
 }
}
.from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 10px;
    color: black;
    float: left;

&
:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

&
:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

}

.from-me-whisper {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #f6b6e5;
    border-radius: 10px;
    float: right;

&
:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #f6b6e5;
    border-bottom-left-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

&
:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

}
.from-them-whisper {
    position: relative;
    padding: 10px 20px;
    background: #7727af;
    border-radius: 10px;
    color: black;
    float: left;

&
:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #7727af;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

&
:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

}

.server-msg {
     position: relative;
     padding: 10px 20px;
     background: #d80a20;
     border-radius: 10px;
     color: white;
     float: left;

&
:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #d80a20;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

&
:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

}

.help-msg {
    position: relative;
    padding: 10px 20px;
    background: #ffff00;
    border-radius: 10px;
    color: black;
    float: left;

&
:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #ffff00;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

&
:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

}

.warning-msg {
    position: relative;
    padding: 10px 20px;
    background: orange;
    border-radius: 10px;
    color: white;
    float: left;

&
:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid orange;
    border-bottom-right-radius: 16px 14px;
    -webkit-transform: translate(0, -2px);
}

&
:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-30px, -2px);
}

}

.name-from-me {
    float: right;
    color: #cccccc;
    font-size: 0.7em;
    margin-top: 1em;
}

.name-from-them {
    float: left;
    color: #cccccc;
    font-size: 0.7em;
    margin-top: 1em;
}